<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lightning Tiki</key>
	<array>
		<string>Lightning Tiki</string>
		<string>8</string>
		<string>power to move you</string>
	</array>
	<key>Thunder Tiki</key>
	<array>
		<string>Lightning Tiki</string>
		<string>8</string>
		<string>power to move you</string>
	</array>
</dict>
</plist>
